@import url("reset.css");

body {
  /*
    Initial font size is set in pixels, but em is used for specific
    elements. This allows the overall size to change but proportions 
    to remain the same.

    The initial size is 10px to make ems easier to understand. For
    example, 1.2em is equal to 12px.
  */

  background:#fff;
  font:12px Lucida Grande;
  color:#333;
}

a {
  color:#19558D;
}

p {
  /*font-size:1.2em;*/
  line-height:1.4em;
  margin: 0 0 9px;
}

strong {
  font-weight:bold;
}

em {
  font-style:italic;
}

h1, h2, h3, h4 {
  font-weight:bold;
}

h1 {
  font-size:32px;
  line-height:3.2em;
}

h2 {
  font-size:24px;
  line-height:2.4em;
}

h3 {
  font-size:18px;
  line-height:1.8em;
}

h4 {
  font-size:14px;
  line-height:1.4em;
}

h5 {
  font-size:12px;
  line-height:1.2em;
}

ul, ol {
  font-size:12px;
  margin: 0 0 9px 25px;
}

ul ul, ol ol {
  font-size:1em;
  margin-bottom:0;
}

ul {
  list-style:disc;
}

ol {
  list-style:decimal;
}

li {
  line-height:16px;
}

/*****************************
    Structure
*****************************/

*[class*="container"] {
  width:940px;
  margin:auto;
}

*[class*="container"]:before, *[class*="container"]:after {
  display: table;
  content: "";
}

*[class*="container"]:after {
  clear: both;
}

*[class*="container"] .col, .container-1 .col {
  width:940px;
}

.container-2 [class*="col"] {
  width:460px;
}

.container-3 .col {
  width:300px;
}

.container-4 .col {
  width:220px;
}

.container-5 .col {
  width:172px;
}

*[class*="col"] {
  float:left;
  margin-left:20px;
}

*[class*="col"]:first-child {
  margin-left:0;
}

.container-2 .col.max {
  width:620px;
}

.container-2 .col.max + .col {
  width:300px;
}

.container-2 .col.min {
  width:300px;
}

.container-2 .col.min + .col {
  width:620px;
}


/* Nested Fixed Columns */
/* TODO define remaining (all 2,3,4,5 column nested possibilities, including max/min */

*[class*="container"] .col *[class*="container"] {
  margin-top:0;
}

.container-2 .col *[class*="container"] {
  width:460px;
}

.container-2 .col .container-2 .col {
  width:220px;
}

.container-2 .col .container-3 .col {
  width:140px;
}

/*****************************
    Fluid Structure
*****************************/

*[class*="container"].fluid, .fluid *[class*="container"] {
  width:auto;
}

*[class*="container"].fluid {
  padding:0 20px;
}

*[class*="container"].fluid *[class*="col"] {
  margin-left:1.94%;
}

*[class*="container"].fluid *[class*="col"]:first-child {
  margin-left:0;
  float:left !important;
}

/* 
  Since percentage calculations aren't pixel-accurate, widths are always a little
  shy of correct. Aligning the last column to the right makes everything line up.
*/
.fluid *[class*="col"]:last-child {
  float:right;
}

.container.fluid .col, .fluid .container .col {
  width:100%;
}

.container-1.fluid .col, .fluid .container-1 .col {
  width:100%;
}

.container-2.fluid .col, .fluid .container-2 .col {  
  width:49.03%;
}

.container-3.fluid .col, .fluid .container-3 .col {
  width:32.02%;
}

.container-4.fluid .col, .fluid .container-4 .col {
  width:23.52%;
}

.container-5.fluid .col, .fluid .container-5 .col {
  width:18.43%;
}

/*****************************
    Flows
*****************************/

.container.flow .col {
  width:auto;
}

/*****************************
    Fixed Structure
*****************************/

.container.fixed {
  position:fixed;
}

.container.fixed.fluid {
  width:100%;
  
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/*****************************
    Composable Styles 
*****************************/

ul.horizontal, ol.horizontal {
  margin: 0;
  display: inline;
}

ul.breadcrumb li:after, ol.breadcrumb li:after {
	content: " > ";
}

ul.breadcrumb li:last-child:after, ol.breadcrumb li:last-child:after {
	content: "";
}

ul.horizontal li, ol.horizontal li {
  display: inline;
}

ul.plain, ol.plain {
  margin: 5px;
  padding: 0;
}

ul.plain li, ol.plain li {
  list-style-type: none;
}

ul.list > li {
  border-bottom-color: #DDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

ul.list > li {
  clear: left;
  padding-bottom: 5px;
  padding-top: 5px;
}

ul.list > li:last-child {
  border-bottom: none;
}

/*REMOVE?*/
ul.pipes li:before { 
  content: "| ";
}

/*REMOVE?*/
ul.pipes li:first-child:before { 
  content: ""; 
}

.float-right {
  float: right;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align:center;
}

/*REMOVE?*/
.box {
  border: 1px solid #909090;
  margin-top: 10px;
}

/*REMOVE?*/
ul.tabs, ol.tabs {
  display: inline-block;
  text-align: left;
  margin: 1em 0 0 0;
  list-style-type: none;
}

/*REMOVE?*/
ul.tabs li a, ol.tabs li a {
  background: #E0E0E0;
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 5px 8px 5px;
  border:1px solid #909090;
}

/*REMOVE?*/
div.panes, div.pane {
  padding: 10px 5px 10px;
  border: 1px solid #909090;
}

/*REMOVE?*/
.error {
  background:#F2DEDE;
  border:1px solid #EED3D7;
  color:#B94A61;
  margin-left:0;
  padding:5px;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.nogutter {
  margin-left: 0;
}

/*RENAME?*/
.addgutter {
  margin-left: 20px;
}

/*REMOVE?*/
hr.space {
  border: none;
  height: 1.5em;
  clear: both;
}

/*****************************
    Forms
*****************************/

input {
  font-size:1em;
  padding:3px;
}

label {
  display:block;
  font-weight:bold;
  line-height:1em;
}

label.inline {
  display:inline;
}

fieldset {
  margin-bottom:20px;
  /*font-size:1.2em;*/
}

fieldset > ul {
  margin-left:0;
  list-style-type:none;
}

fieldset > ul > li {
  margin-bottom:10px;
}

fieldset > ul > li > label {
  padding-bottom:5px;
}
