@mixin transition($attr, $duration) {
  transition: $attr $duration;
  -webkit-transition: $attr $duration;
  -moz-transition: $attr $duration;
  -o-transition: $attr $duration;
}

#wrapper {
  width:960px;
  margin-left:auto;
  margin-right:auto;
}

#nav {
  position:fixed;
  width:250px;
  height:100%;
  z-index:10;
  top:0;
  // border-right:3px solid #b51c12;
  overflow:auto;

  box-shadow:0px 0px 5px rgba(0,0,0,0.25);

  > a {
    text-decoration:none;

    > img {
      margin-top:15px;
      margin-left:15px;
    }

    > h1 {
      font-weight:normal;
      font-size:28px;
      display:inline-block;
      text-transform:lowercase;
      margin-left:10px;
      vertical-align:top;
      margin-top:5px;
      color:#333;
      border:0;
      line-height: 0;

      .version {
        font-size:11px;
        color:#999;
      }
    }
  }

  a {
    color:#19558D;
  }

  ul {
    margin-top:40px;
    list-style-type:none;

    li {
      font-size:14px;
      margin:10px 0px;

      a {
        border-bottom:1px solid #E5E5E5;

        &:hover {
          text-decoration: none;
          border-color:#19558D;
        }
      }

      ul {
        margin-top:0;
        margin-left:10px;

        li {
          font-size:13px;
          margin:6px 0;
        }

        a {
          font-weight:normal;
          border-bottom:0;

          &:hover {
            text-decoration:underline;
          }
        }
      }
    }
  }
}

#content {
  margin-left:310px;
  margin-top:40px;
  margin-right:40px;
  max-width:700px;

  h1 {
    line-height: 1em;
    margin-bottom:20px;
  }

  h2 {
    font-size:24px;
    font-weight:500;
    margin-bottom:10px;
    margin-top:30px;
  }

  h4 {
    font-weight:500;
    margin-bottom:10px;
    margin-top:30px;
  }

  font-size:14px;

  li {
    font-size:13px;
    margin-bottom:5px;
  }

  code {
    margin-top:20px;
    line-height:1.4em;
  }

  p {
    line-height:1.5em;
  }
}

#footer {
  text-transform: uppercase;
  color:#aaa;
  font-size:11px;
  padding-bottom:50px;
  width:600px;
  margin:150px 310px 40px;

  a {
    font-weight:normal;
    color:#aaa;
    text-decoration:underline;
  }
}

h1 {
  font-size:26px;
  border-bottom:2px solid #333;
  padding-bottom:5px;
  margin-top:60px;
  padding-top:20px;
}

#overview {
  padding-top:0;
  margin-top:0;
}

h4 {
  font: bold 18px "pragmatica-web" !important;
  text-transform: none !important;
}

.contributor-blocks {

  .contributor {
    vertical-align:top;
    position:relative;
    display:inline-block;
    width:140px;
    height:140px;
    background-size:140px;

    .cover {
      position:absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      background:#000;
      opacity:0.55;
      @include transition(opacity, 0.5s);

      &:hover {
        opacity:0;
      }
    }

    .info-wrapper {
      display:none;
      position:absolute;
      top:0px;
      left:140px;
      height:100%;
      width:100%;
      z-index:1;

      background:#FF0013;
      text-align:center;
      font-size:15px;
      line-height:15px;
      color:#fff;

      .username {
        display:block;
        margin-top:35px;
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow:hidden;
        color:#fff;
        text-decoration:none;
        font-weight:normal;

        &:hover {
          text-decoration:underline;
        }
      }

      .count {
        font-size:22px;
        line-height:22px;
        font-weight:400;
        margin:10px 0;
      }
    }

    &.active {
      .cover {
        opacity:0;
      }

      .info-wrapper {
        display:block;
      }
    }

    &:hover {
      cursor:pointer;
    }

    &:nth-child(5n) {
      .info-wrapper {
        left:-140px;
      }
    }
  }
}