#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

#nav {
  background: #F40000;
  position: fixed;
  width: 200px;
  height: 100%;
  z-index: 10;
  top: 0;
  border-right: 3px solid #b51c12; }
  #nav a {
    color: #88150e; }
  #nav ul {
    margin-top: 40px;
    list-style-type: none; }
    #nav ul li {
      font-size: 14px;
      margin: 10px 0px; }
      #nav ul li ul {
        margin-top: 0;
        margin-left: 10px; }
        #nav ul li ul a {
          font-weight: normal; }

#content {
  margin-left: 240px;
  margin-top: 40px;
  margin-right: 40px;
  max-width: 700px;
  font-size: 14px; }
  #content h1 {
    line-height: 1em;
    margin-bottom: 20px; }
  #content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px; }
  #content h4 {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px; }
  #content li {
    font-size: 13px;
    margin-bottom: 5px; }
  #content code {
    margin-top: 20px;
    line-height: 1.4em; }
  #content p {
    line-height: 1.5em; }

#footer {
  margin-top: 120px;
  text-align: left;
  margin-left: 240px;
  color: #999;
  margin-bottom: 40px;
  font-size: 12px; }
  #footer a {
    color: #999;
    font-weight: normal; }

h1 {
  font-size: 26px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-top: 60px;
  padding-top: 20px; }

#overview {
  padding-top: 0;
  margin-top: 0; }

h4 {
  font: bold 18px "proxima-nova" !important;
  text-transform: none !important; }
