#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

#nav {
  position: fixed;
  width: 250px;
  height: 100%;
  z-index: 10;
  top: 0;
  overflow: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); }
  #nav .nav-links {
    margin-bottom: -30px; }
  #nav > a {
    text-decoration: none; }
    #nav > a > img {
      margin-top: 15px;
      margin-left: 15px; }
    #nav > a > h1 {
      font-weight: normal;
      font-size: 28px;
      display: inline-block;
      text-transform: lowercase;
      margin-left: 10px;
      vertical-align: top;
      margin-top: 5px;
      color: #333;
      border: 0;
      line-height: 0; }
      #nav > a > h1 .version {
        font-size: 11px;
        color: #999; }
  #nav a {
    color: #19558D; }
  #nav ul {
    margin-top: 40px;
    list-style-type: none; }
    #nav ul li {
      font-size: 14px;
      margin: 10px 0px; }
      #nav ul li a {
        border-bottom: 1px solid #E5E5E5; }
        #nav ul li a:hover {
          text-decoration: none;
          border-color: #19558D; }
      #nav ul li ul {
        margin-top: 0;
        margin-left: 10px; }
        #nav ul li ul li {
          font-size: 13px;
          margin: 6px 0; }
        #nav ul li ul a {
          font-weight: normal;
          border-bottom: 0; }
          #nav ul li ul a:hover {
            text-decoration: underline; }

#content {
  margin-left: 310px;
  margin-top: 40px;
  margin-right: 40px;
  max-width: 700px;
  font-size: 14px; }
  #content h1 {
    line-height: 1em;
    margin-bottom: 20px; }
  #content h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px; }
  #content h4 {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px; }
  #content li {
    font-size: 13px;
    margin-bottom: 5px; }
  #content code {
    margin-top: 20px;
    line-height: 1.4em; }
  #content p {
    line-height: 1.5em; }

#footer {
  text-transform: uppercase;
  color: #aaa;
  font-size: 11px;
  padding-bottom: 50px;
  width: 600px;
  margin: 150px 310px 40px; }
  #footer a {
    font-weight: normal;
    color: #aaa;
    text-decoration: underline; }

h1 {
  font-size: 26px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-top: 60px;
  padding-top: 20px; }

#overview {
  padding-top: 0;
  margin-top: 0; }

h4 {
  font: bold 18px "pragmatica-web" !important;
  text-transform: none !important; }

.community {
  width: 900px;
  margin: auto; }
  .community .contributors {
    position: relative;
    margin-top: 60px; }
    .community .contributors h2 {
      margin-bottom: 20px; }
  .community .contributors-list {
    margin: 0; }
    .community .contributors-list .contributor {
      margin-top: -4px;
      margin-right: -4px;
      position: relative;
      display: inline-block;
      width: 180px;
      height: 180px; }
      .community .contributors-list .contributor .cover {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #000;
        opacity: 0.55;
        transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s; }
        .community .contributors-list .contributor .cover:hover {
          opacity: 0; }
      .community .contributors-list .contributor img {
        width: 180px;
        height: 180px; }
      .community .contributors-list .contributor .info-wrapper {
        display: none;
        position: absolute;
        top: 0px;
        right: 179px;
        height: 180px;
        width: 180px;
        z-index: 1;
        background: #FF0013;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        color: #fff; }
        .community .contributors-list .contributor .info-wrapper .login {
          display: block;
          margin-top: 45px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: #fff;
          text-decoration: none;
          font-weight: normal; }
          .community .contributors-list .contributor .info-wrapper .login:hover {
            text-decoration: underline; }
        .community .contributors-list .contributor .info-wrapper .count {
          font-size: 30px;
          font-weight: 400;
          line-height: 30px;
          margin: 10px 0; }
      .community .contributors-list .contributor.active .cover {
        opacity: 0; }
      .community .contributors-list .contributor.active .info-wrapper {
        display: block; }
      .community .contributors-list .contributor:hover {
        cursor: pointer; }
      .community .contributors-list .contributor:first-child .info-wrapper {
        right: -179px; }
      .community .contributors-list .contributor:nth-child(5n+1) .info-wrapper {
        right: -179px; }
