.contributor-blocks .contributor {
  vertical-align:top;
  position:relative;
  display:inline-block;
}

.contributor-blocks .contributor .cover {
  display:block;
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:#000;
  opacity:0.55;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.contributor-blocks .contributor .cover:hover {
  opacity:0;
}

.contributor-blocks .contributor .info-wrapper {
  display:none;
  position:absolute;
  top:0px;
  height:100%;
  width:100%;
  z-index:1;

  background:#000;
  text-align:center;
  color:#fff;
}

.contributor-blocks .contributor .info-wrapper.leftside {
  left:auto;
  right:100%;
}

.contributor-blocks .contributor .info-wrapper.rightside {
  left:100%;
  right:auto;
}

.contributor-blocks .contributor .info-wrapper .username {
  display:block;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow:hidden;
  color:#fff;
  text-decoration:none;
  font-weight:normal;
}

.contributor-blocks .contributor .info-wrapper .username:hover {
  text-decoration:underline;
}

.contributor-blocks .contributor .info-wrapper .count {
  font-weight:400;
  margin:10px 0;
}

.contributor-blocks .contributor.active .cover {
  opacity:0;
}

.contributor-blocks .contributor.active .info-wrapper {
  display:block;
}

.contributor-blocks .contributor:hover {
  cursor:pointer;
}