<div class="community">
	<h1>Community</h1>

  <p class="intro">
    Software is changing the world, and we want to change how you build software. Our hope is to build an open, friendly, and helpful community around these ideas. We'd love to have you join us. All thoughts, ideas, and productive criticism is encouraged.
  </p>

  <p>
    <a href="http://groups.google.com/group/pakyow">Get help and contribute your ideas on the mailing list.</a>
  </p>

  <p>
    <a href="http://github.com/metabahn/pakyow/issues">Having trouble? Report a bug.</a>
  </p>

  <p>
    <a href="http://github.com/metabahn/pakyow">Browse the source on GitHub.</a>
  </p>

  <p>
    <a href="http://twitter.com/pakyow">Follow along on Twitter.</a>
  </p>

  <!-- @include contributors -->
</div>